html {
  min-height: 100%;
  box-sizing: border-box;
}
/* přidáno jako review tip*/

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 20px;
}
/* "width", "min-height" a "margin" přidány jako review tip*/

img {
  width: 400px;
  border-radius: 10px 10px 0 0;
  /* display: block; */
}

h1 {
  color: #ffffff;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 10px;
}

.popis_hry,
a {
  color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: large;
  padding: 10px;
}

.box {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}

.button_pravidla,
.button_uvodni /*Úkol č. 2*/ {
  background-color: #1fcca4;
  flex-direction: column;
  display: block;
  margin-bottom: 1px;
  text-decoration: none;
  padding: 15px;
}

.button_pravidla:hover,
.button_uvodni:hover /*Úkol č. 2*/ {
  background-color: #1cbb96;
}

.button_hrat {
  background-color: #0197f6;
  flex-direction: column;
  display: block;
  text-decoration: none;
  padding: 15px;
}

.button_hrat:hover {
  background-color: #0090e9;
}

/*Úkol č. 2*/

.rulesbox {
  background-color: #283e50;
  width: 800px;
  margin: auto;
  border-radius: 10px;
}

.rules {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: medium;
  padding: 20px;
  text-align: column;
}

.znaky {
  width: 1em;
  height: 1em;
  filter: invert(100%);
  display: inline
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: 15px;
  padding-left: 5px;
}

figcaption {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-style: italic;
  display:block;
  text-align: center;
  font-size: normal;
  padding: 10px;
}

.figure_img {
  width: 100%;
  border-radius: 0;
  /*
  display: flex;
  flex-direction: column;
  */
}

.instructions {
  display: flex;
  flex-wrap: wrap;  
}

/*
@media screen and (min-width: 500px) {
  .instructions {
    justify-content: space-between;
  }
  .instructions_img {
    flex-basis: calc ((100% - 20px) / 2);
  }
}

@media screen and (min width: 800px) {
  .rulesbox {
    width: 50%;
  }
}
*/


/* úkol č. 3, hra.html */


.hra {
  max-width: 80vmin;
  margin: 20px;
}

.navigace {
  display: flex;
  justify-content: space-between;
  text-align:center;
  margin:20px 0;
  flex-wrap: wrap;
  
}

.hraje {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: x-large;
  display: flex;
} 

.kolecko {
  display: inline-block;
  width: 1em;
  height: 1em;
  filter: invert(100%);
  vertical-align: text-bottom;
  padding-left: 10px;
}

.ikony_home_restart {
display: block;
}

.home, .restart {
  width: 100%;
  vertical-align: middle;
}

.button_home {
  background-color:#1fcca4 ;
  display: inline-block;
  border-radius: 10px;  
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.button_home :hover,
.button_home :focus,
.button_home :active {
  background-color: #1cbb96 ;
}

.button_restart {
  background-color: #0197f6 ;
  display: inline-block;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.button_restart :hover,
.button_restart :focus,
.button_restart :active 
 {
  background-color: #0090e9 ;
}

.herni_plocha {
  display: flex;
  flex-wrap: wrap;
  width: 80vmin;
  height: 80vmin;
  box-shadow: rgba(12, 11, 11, 0.35) 5px 5px 15px 5px;
}

.pole {
  background-color:rgb(171, 161, 212);
  width: 10%;
  border: 1px solid rgba(66, 59, 66, 0.95);
}

.pole:hover,
.pole:active,
.pole:focus {
 background-color: rgb(191, 183, 226);
}
 

